doctype html
html(lang='en', ng-app='day-trader')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Day Trader
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/slate/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href=isProd ? '/index.min.css' : '/index.css')
    link(rel='shortcut icon', href='/favicon.ico')
  body(ng-controller='master')
    .jumbotron
      .welcomeHolder
        h1 Welcome {{user.name}},
        h1 {{user.capital | currency}}
        h2 Making your financial dreams come true!
    .container-fluid
      .row(ng-hide='setupBar')
        .col-xs-12 
          nav.navbar.navbar-inverse
            .navbar-header
              form.navbar-form.navbar-left(role='search')
                .form-group
                  input.form-control(type='text', placeholder='Name', ng-model='user.name')
                  input.form-control(type='number', placeholder='$10,000', ng-model='user.capital')
                  button.btn.btn-default(type='submit', ng-click='addUser()')  Submit
                
      .row(ng-show='setupBar')
        .col-xs-12  
          nav.navbar.navbar-inverse
            .navbar-header
            #bs-example-navbar-collapse-2.collapse.navbar-collapse
              
              form.navbar-form.navbar-left(role='search')
                .form-group
                  input.form-control(type='text', placeholder='Technology', ng-model='portfolio.name')
                  button.btn.btn-default(type='submit', ng-click='addPortfolio()') Add Portfolio
                  input.form-control(type='text', placeholder='Symbol', ng-model='portfolio.stock.symbol')
                  input.form-control(type='number', ng-model='portfolio.stock.amount')
                  
                  //button.btn.btn-default(type='submit', ng-click='buyShares()')  Buy Shares
              
                  ul.nav.navbar-nav.navbar-right
                    li.dropdown
                      a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false') Your Portfolios 
                        ul.dropdown-menu(role='menu')
                            li( ng-repeat='portfolio in portfolios track by $index'): a(href='#', ng-click='buyShares($index)') {{portfolio.name}}
                            
                      
                      //- li(ng-repeat='buffalo in buffalos track by $index') {{buffalo.name}}
                //- ul.nav.navbar-nav.navbar-right
                //-   li
                //-     a(href='#', ng-click='swapBar()') Log Out
      .row
        .col-md-4
          
          
          
          
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/vendor/lodash/lodash.min.js')
    script(src='/vendor/firebase/firebase.js')
    script(src='/vendor/angular/angular.min.js')
    script(src='/vendor/angularfire/dist/angularfire.min.js')
    script(src=isProd ? '/index.min.js' : '/index.js')
